body {
    font-family: 'Montserrat', sans-serif;
    background-color: #242424;
    color: white;
}

header {
    width: 50rem;
    margin: 5rem auto;
    text-align: center;
}

main {
    width: 50rem;
    margin: 2rem auto;
    text-align: center;
}